@use '@angular/material' as mat;

.mat-mdc-icon-button:focus{
  outline: 1px solid var(--mat-sys-primary);
  outline-offset: 1px;
}

.avatar {
  margin-left: 0.5rem;
  @include mat.icon-button-overrides((
    icon-size: 32px,
    pressed-state-layer-opacity: 0
  ));
}
